[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]

# base
redis = "*"
celery = "*"
sqlalchemy = "*"
pyyaml = "*"
pymysql = "*"

# web
flask = "*"
greenlet = "*"
mwoauth = "*"
xlsxwriter = "*"

# runner: none
# killer: none

[requires]
python_version = "3.5"
