Flask==0.10.1
Flask-OAuth==0.12
Jinja2==2.7.3
MarkupSafe==0.23
PyMySQL==0.6.2
Werkzeug==0.9.6
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.13
flask-mwoauth==0.1.31
httplib2==0.9
itsdangerous==0.24
kombu==3.0.21
oauth2==1.5.211
pytz==2014.4
redis==2.10.1
requests==2.3.0
wsgiref==0.1.2
