{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/lib/codemirror.css">
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/theme/monokai.css">
<script src="/static/vendor/codemirror-4.3/lib/codemirror.js"> </script>
<script src="/static/vendor/codemirror-4.3/mode/sql/sql.js"> </script>
<script src="/static/js/query/new.js"> </script>
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <div>SQL</div>
        <textarea id="code">SELECT * FROM page LIMIT 10</textarea>
    </div>
    <div class="row well">
        <a href="#" id="run-code" class="btn btn-primary pull-right">Submit Query</a>
    </div>

    <div class="row">
        <div>Last run results. (Last run 2h ago) <a href="#" class="pull-right">Download CSV</a></div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>page_id</th>
                <th>page_namespace</th>
                <th>page_title</th>
                <th>page_is_redirect</th>
                <th>page_touched</th>
                <th>page_latest</th>
                <th>page_len</th>
            </tr>
            {% for i in range(50) %}
            <tr>
                <td>{{i}}</td>
                <td>0</td>
                <td>Random Page {{i}}</td>
                <td>0</td>
                <td>4321231255</td>
                <td>53215</td>
                <td>{{5 * i}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
