{% set nav_items = [
    ('/', 'landing', "Home"),
    ('/query/new', 'query-new', "New Query"),
    ('/query/runs/all', 'query-runs-all', "Recent Queries")
] -%}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Quarry{% endblock %}</title>
    {% if jsvars %}
    <script>
        var vars = {{jsvars|tojson}};
    </script>
    {% endif %}
    <!-- Latest compiled and minified CSS with theme -->
    <link rel="stylesheet" href="//tools-static.wmflabs.org/fontcdn/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="/static/vendor/yeti.bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>

<body>
{% if config['MAINTENANCE_MSG'] %}
<div class="alert alert-warning maintenance-msg">
    <p>{{ config['MAINTENANCE_MSG'] | safe }}</p>
</div>
{% endif %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img height="48px" src="/static/img/quarry-logo-white.svg" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
            {% for href, pagename, text in nav_items %}
                <li{% if pagename == active_page %} class="active"{% endif%}>
                    <a href="{{ '/' + user.username.replace(' ', '_')|e if user and href=='/' else href|e }}">{{ text|e }}</a>
                </li>
            {% endfor %}
                <li>
                    <a href="https://www.mediawiki.org/wiki/Talk:Quarry">Discuss</a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Database tables <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a target="_blank" rel="noopener" href="https://db-names.toolforge.org/">Database names</a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.mediawiki.org/wiki/Category:MediaWiki_database_tables">MediaWiki</a></li>
                        <li><a target="_blank" rel="noopener" href="https://www.mediawiki.org/wiki/Wikibase/Schema">Wikibase</a></li>
                        <li><a target="_blank" rel="noopener" href="https://sql-optimizer.toolforge.org/">Replicas browser and optimizer</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/{{ user.username.replace(' ', '_') }}">My profile</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/login?next={{request.path}}">Login</a></li>
            {% endif  %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
        <div class="alert alert-dismissible alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a> |
            <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a> |
            <a href="https://github.com/wikimedia/analytics-quarry-web">Source code</a> |
            <a href="https://meta.wikimedia.org/wiki/Research:Quarry">Documentation</a> |
            <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=%5Bfeedback%5D%20%3Cyour%20request%20here%3E&description=%3D%3D%20Why%0D%0A%0D%0AA%20brief%20explanation%20of%20the%20problem%20you%20want%20sorted%20out%0D%0A%0D%0A%3D%3D%20How%0D%0A%0D%0AIf%20you%20have%20any%20ideas%2C%20an%20explanation%20on%20how%20it%20could%20be%20solved&projects=quarry&subscribers=dcaro%2Ckomla&priority=triage">Give Feedback</a> |
            <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=%5Bbug%5D%20%3Cyour%20request%20here%3E&description=%3D%3D%20What%20happened%3F%0D%0A%0D%0AA%20brief%20explanation%20of%20the%20problem%20you%20found%20(if%20you%20can%20give%20screenshots%20please%20do)%0D%0A%0D%0A%3D%3D%20What%20should%20have%20happened%3F%0D%0A%0D%0AWhat%20is%20it%20that%20you%20expected%20to%20happen%20instead&projects=quarry&subscribers=dcaro%2Ckomla&priority=triage">Report a bug</a>
            </div>
            <div class="pull-right">
                Hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Cloud_VPS">Wikimedia Cloud VPS</a>, written in <a href="https://python.org">Python</a> by <a href="mailto:yuvipanda@gmail.com">YuviPanda</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
