{% set nav_items = [
    ('/', 'landing', "Home"),
    ('/query/new', 'query-new', "New Query"),
    ('/query/runs/all', 'query-runs-all', "Recent Queries")
] -%}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Quarry{% endblock %}</title>
    {% if jsvars %}
    <script>
        var vars = {{jsvars|tojson}};
    </script>
    {% endif %}
    <!-- Latest compiled and minified CSS with theme -->
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/vendor/yeti.bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img height="48px" src="/static/img/quarry-logo-white.svg" /><small>&beta;eta</small></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
            {% for href, pagename, text in nav_items %}
                <li{% if pagename == active_page %} class="active"{% endif%}>
                    <a href="{{ href|e }}">{{ text|e }}</a>
                </li>
            {% endfor %}
                <li>
                    <a href="https://www.mediawiki.org/wiki/Talk:Quarry">Discuss</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/{{user.username}}">My profile</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/login?next={{request.path}}">Login</a></li>
            {% endif  %}
            </ul>

        </div><!--/.nav-collapse -->
    </div>

</div>
{% block content %}
{% endblock %}
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a> |
            <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a> |
            <a href="https://github.com/wikimedia/analytics-quarry-web">Source code</a> |
            <a href="https://meta.wikimedia.org/wiki/Research:Quarry">Documentation</a> |
            <a href="https://phabricator.wikimedia.org/maniphest/task/create/?projects=quarry">Report a bug!</a>
            </div>
            <div class="pull-right">
                Hosted on <a href="https://wikitech.wikimedia.org">Wikimedia Labs</a>, written in <a href="https://python.org">Python</a> by <a href="mailto:yuvipanda@gmail.com">YuviPanda</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

