{% extends "base.html" %}
{% block head %}
<link href="/static/css/user.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="content" class="container">
    <div id="user-header" class="row">
        <div class="col-md-8">
            <h2>{{display_user.username}}</h2>
            <a href="//meta.wikimedia.org/wiki/User:{{display_user.username}}">User page</a> |
            <a href="//meta.wikimedia.org/wiki/User_talk:{{display_user.username}}">Talk page</a>
        </div>
        <div id="user-stats-container" class="col-md-4">
            <div class="user-stat">
                <h2>{{stats.query_count}}</h2>
                <span>Queries</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 query-list-container">
            <h3>Published queries</h3>
            <ul class="query-items-list">
                {% for query in published_queries %}
                <li class="query-item">
                    <a class="query-title" href="/query/{{query.id}}">{% if query.title %}{{query.title}}{% else %}Untitled query #{{query.id}}{% endif %}</a>
                    <small>{{query.last_touched|timesince}}</small>
                </li>
                {% else %}
                    This user has not published any of their queries yet.
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 query-list-container">
            <h3>Starred Queries</h3>
            <ul class="query-items-list">
                {% for star in stars %}
                <li class="query-item">
                    <a class="query-title" href="/query/{{star.query.id}}">{% if star.query.title %}{{star.query.title}}{% else %}Untitled query #{{star.query.id}}{% endif %}</a>
                </li>
                {% else %}
                    This user has not starred any queries yet.
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <h3>Draft Queries</h3>
        <ul class="query-items-list">
            {% for query in draft_queries %}
            <li class="query-item">
                <a class="query-title" href="/query/{{query.id}}">{% if query.title %}{{query.title}}{% else %}Untitled query #{{query.id}}{% endif %}</a>
                <small>{{query.last_touched|timesince}}</small>
            </li>
            {% else %}
                This user has not drafted any queries
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
