.jumbotron {
    padding-top: 72px;
}

#footer {
    margin-top: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #eee;
    color: #999;
    background-color: #fafafa;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.navbar-brand {
    margin-top: -14px;
}

.navbar {
    position: -webkit-sticky; /* XXX: Prefix */
    position: sticky;
    top: 0;
    z-index: 10;
}

.maintenance-msg {
    margin-bottom: 0px;
    border-bottom-width: 0px;
    text-align: center;
    font-weight: bold;
}
