.user-stat {
    text-align: center;
    float: right;
}

#user-header {
    border-bottom: 1px #ccc solid;
    padding-bottom: 12px;
}

#query-items-list {
    list-style: none;
    padding-left: 0;
}

#query-items-list li {
    padding: 4px 0px;
}

#query-items-list li a.query-title {
    font-size: 1.2em;
}
