{% set active_page = "query-runs-all" %}
{% extends "base.html" %}
{% block head %}
<script src="/static/js/query/list.js"> </script>
{% endblock %}
{% block content %}
<div id="content" class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        <tbody>
        {% for qr in query_runs %}
            <tr>
                <td><a href="/query/{{qr.query_rev.query.id}}">{{qr.query_rev.query.title}}</a></td>
                <td>{{qr.query_rev.query.user.username}}</td>
                <td>{{qr.status_message}}</td>
                <td>{{qr.timestamp}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
