{% set active_page = "query-runs-all" %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/query/list.css">
{% endblock %}
{% block content %}
<div id="content" class="container">
    <div class="query-list-filters btn-group btn-group-sm pull-right" role="group">
      <button type="button" class="btn btn-default{% if queries_filter == 'all' %} active{% endif %}">
          <a href="/query/runs/all">All queries</a>
      </button>
      <button type="button" class="btn btn-default{% if queries_filter == 'published' %} active{% endif %}">
          <a href="/query/runs/all?published=true">Published queries</a>
      </button>
    </div>
    <table class="table table-bordered table-hover">
        {% if queries %}
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Last run</th>
            </tr>
        {% endif %}
        <tbody>
        {% for query in queries %}
            <tr>
                <td><a href="/query/{{query.id}}">{% if query.title %}{{query.title}}{% else %}Untitled query #{{query.id}}{% endif %}</a></td>
                <td><a href="/{{query.user.username}}">{{query.user.username}}</a></td>
                <td>{{query.latest_rev.latest_run.status_message}}</td>
                <td title="{{query.latest_rev.latest_run.timestamp}} UTC">{{query.latest_rev.latest_run.timestamp|timesince}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No queries found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
      <ul class="pager">
        <li class="previous{% if not prev_link %} disabled{% endif %}">
            <a href="{{ prev_link or '#' }}">Previous</a>
        </li>
        <li class="next{% if not next_link %} disabled{% endif %}">
            <a href="{{ next_link or '#' }}">Next</a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}
