{% set active_page = "query-new" %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/lib/codemirror.css">
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/theme/monokai.css">
<link rel="stylesheet" href="/static/css/query/view.css">
<script src="/static/vendor/nunjucks-1.0.7.js"> </script>
<script src="/static/templates/compiled.js"> </script>
<script src="/static/vendor/codemirror-4.3/lib/codemirror.js"> </script>
<script src="/static/vendor/codemirror-4.3/mode/sql/sql.js"> </script>
<script src="/static/vendor/codemirror-4.3/addon/edit/matchbrackets.js"> </script>
<script src="/static/vendor/datatables-1.10.2/js/jquery.dataTables.min.js"> </script>
<script src="/static/vendor/datatables-1.10.2/js/dataTables.bootstrap.js"> </script>
<link href="/static/vendor/datatables-1.10.2/css/dataTables.bootstrap.css" rel="stylesheet">
<script src="/static/js/query/view.js"> </script>
{% endblock %}
{% block title %}
{{query.title}} - Quarry
{% endblock %}
{% block content %}
<div id="content" class="container {% if jsvars.can_edit %}edit{% else %}no-edit{% endif %} {% if jsvars.is_starred %}starred{% endif %} {% if query.published %}published {% endif %}">
    <div class="row" id="title-container">
        <div class="col-md-10">
            <h2><input type="textbox" id="title" {% if jsvars.can_edit %}placeholder="Click to add title..."{% else %}readonly{% endif %} value="{% if query.title %}{{query.title}}{% endif %}"> </input></h2>
        </div>
        <div class="col-md-2" id="title-actions-container">
            {% if user and not jsvars.can_edit %}
                <button id="un-star-query" type="button" class="btn btn-info btn-sm only-starred">
                    <span class="glyphicon glyphicon-star"></span> Unstar
                </button>
                <button id="star-query" type="button" class="btn btn-info btn-sm only-non-starred">
                    <span class="glyphicon glyphicon-star-empty"></span> Star
                </button>
            {% endif %}
        </div>
    </div>
    <div class="query-status">
        <span class="only-not-published">This query is marked as a draft</span>
        <span class="only-published">This query has been published</span>
        by <a href="/{{query.user.username}}">{{query.user.username}}</a>.
        {% if jsvars.can_edit %}
            <button id="toggle-publish" type="button" class="btn btn-default btn-xs">
                <span class="only-not-published">Publish</span>
                <span class="only-published">Mark as draft</span>
            </button>
        {% endif %}
    </div>
    <div>
        {% if jsvars.can_edit or query.description %}
        <textarea id="query-description" {% if jsvars.can_edit %}placeholder="Click to add description..."{% else %}readonly{% endif %}>{% if query.description %}{{query.description}}{% endif %}</textarea>
        {% endif %}
    </div>
    <div>
        <h3>SQL</h3>
        <textarea id="code">{% if latest_rev %}{{ latest_rev.text }}{%endif%}</textarea>
    </div>
    <div id="sql-actions-container" class="row">
        <div class='col-md-8 only-edit'>
            By running queries you agree to the <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Labs ToS</a> and you irrevocably agree to release your SQL under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 License</a>.
        </div>
        <div class='col-md-4 last only-edit'>
            <a href="#" id="run-code" class="btn btn-primary pull-right">Submit Query</a>
        </div>
        <div class="col-md-8 only-no-edit">
            All SQL code is licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 License</a>.
        </div>
    </div>

    <div id="query-result-container">
        <h4 id="query-status">Checking query status...</h4>
        <div id="query-result"></div>
    </div>
</div>
{% endblock %}
