{% set active_page = "query-new" %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/lib/codemirror.css">
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/theme/monokai.css">
<link rel="stylesheet" href="/static/css/query/view.css">
<script src="/static/vendor/jquery.jeditable.js"> </script>
<script src="/static/vendor/codemirror-4.3/lib/codemirror.js"> </script>
<script src="/static/vendor/codemirror-4.3/mode/sql/sql.js"> </script>
<script src="/static/js/query/view.js"> </script>
{% endblock %}
{% block content %}
<div>
    <div class="row" id="title-container">
        <h2 id='title'>{{query.title}}</h2>
    </div>
    <div class="row">
        <h3>SQL</h3>
        <textarea id="code">{% if query.latest_rev %}{{ query.latest_rev.text }}{%endif%}</textarea>
    </div>
    {% if jsvars.can_edit %}
    <div class="row well">
        <a href="#" id="run-code" class="btn btn-primary pull-right">Submit Query</a>
    </div>
    {% endif %}

    <div class="row">
        <h3>Results
            <a href="#" class="btn btn-xs btn-success pull-right">Download CSV</a>
        </h3>
        <table id="query-results-sampled" class="table table-bordered table-hover">
            <tr>
                <th>page_id</th>
                <th>page_namespace</th>
                <th>page_title</th>
                <th>page_is_redirect</th>
                <th>page_touched</th>
                <th>page_latest</th>
                <th>page_len</th>
            </tr>
            {% for i in range(50) %}
            <tr>
                <td>{{i}}</td>
                <td>0</td>
                <td>Random Page {{i}}</td>
                <td>0</td>
                <td>4321231255</td>
                <td>53215</td>
                <td>{{5 * i}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
