{% set active_page = "query-new" %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/lib/codemirror.css">
<link rel="stylesheet" href="/static/vendor/codemirror-4.3/theme/monokai.css">
<link rel="stylesheet" href="/static/css/query/view.css">
<script src="/static/vendor/jquery.jeditable.js"> </script>
<script src="/static/vendor/swig-1.4.1.min.js"> </script>
<script src="/static/vendor/codemirror-4.3/lib/codemirror.js"> </script>
<script src="/static/vendor/codemirror-4.3/mode/sql/sql.js"> </script>
<script src="/static/vendor/codemirror-4.3/addon/edit/matchbrackets.js"> </script>
<script src="/static/js/query/view.js"> </script>
{% endblock %}
{% block content %}
<div id="content" class="container {% if jsvars.can_edit %}edit{% else %}no-edit{% endif %} {% if jsvars.is_starred %}starred{% endif %}">
    <div class="row" id="title-container">
        <div class="col-md-10">
            <h2 id='title'>{{query.title}}</h2>
        </div>
        <div class="col-md-2" id="title-actions-container">
            {% if user %}
                <button id="un-star-query" type="button" class="btn btn-info btn-sm only-starred">
                    <span class="glyphicon glyphicon-star"></span> Unstar
                </button>
                <button id="star-query" type="button" class="btn btn-info btn-sm only-non-starred">
                    <span class="glyphicon glyphicon-star-empty"></span> Star
                </button>
            {% endif %}
        </div>
    </div>
    <div>
        <h3>SQL</h3>
        <textarea id="code">{% if latest_rev %}{{ latest_rev.text }}{%endif%}</textarea>
    </div>
    <div class="well">
        <div class='col-md-8 only-edit'>
            By running queries you agree to the <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Labs ToS</a> and you irrevocably agree to release your SQL under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 License</a>.
        </div>
        <div class='col-md-4 last only-edit'>
            <a href="#" id="run-code" class="btn btn-primary pull-right">Submit Query</a>
        </div>
        <div class="only-no-edit">
            All SQL code is licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 License</a>.
        </div>
    </div>

    <div id="query-result-container"class="row">
        <div id="query-result-success">
            <h3>Results
                <a href="#" class="btn btn-xs btn-success pull-right">Download CSV</a>
                <small id="success-time"></small>
            </h3>
        </div>
        <div id="query-result-error">
            <h3>Error! <small id="error-time"></small></h3>
            <pre id="query-error-message"></pre>
        </div>
        <div id="query-result-killed">
            <h3>Query killed! <small id="killed-time"></small></h3>
        </div>
        <div id="query-progress">
            <h3>Query running...</h3>
        </div>
    </div>
</div>
{% endblock %}
