table#query-results-sampled {
    margin-top: 20px;
}

.only-published {
    display: none
}

.published .only-not-published {
    display: none;
}

.published .only-published {
    display: block;
}

.published span.only-published,
.published button.only-published {
    display: inline;
}

.starred .only-starred {
    display: block;
}

.starred .only-non-starred {
    display: none;
}

.only-starred {
    display: none;
}

#title {
    width: 100%;
    height: 100%;
    border: none;
}

#title-actions-container a {
    margin-top: 18px;
    float: right;
}

#sql-actions-container {
    background-color: #f5f5f5;
    border: 1px #ddd solid;
    padding: 8px;
    margin: 0;
}

#query-status {
    margin-top: 24px;
    padding-bottom: 4px;
    border-bottom: 1px #ccc solid;
}

.CodeMirror {
    font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 144px;
}

#code {
    font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
    width: 100%;
    height: auto;
    min-height: 144px;
}

.no-edit .only-edit {
    display: none;
}

.edit .only-no-edit {
    display: none;
}

#query-description {
    border: none;
    width: 100%;
    resize: none;
}

.resultset-header {
    margin-bottom: 12px;
}

div.dataTables_info {
	margin: 0 0 10.5px;
}

.query-db-parent {
    /* needed to be able to make the list cover the other elements */
    height: 20px;
    overflow: visible;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: 0;
  right: 0;
  position: relative;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #006687;
  color: #fff;
}

.autocomplete-active {
  background-color: rgb(0, 112, 149) !important;
  color: #ffffff;
}