table#query-results-sampled {
    margin-top: 20px;
}

.CodeMirror {
    font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 250px;
}
