table#query-results-sampled {
    margin-top: 20px;
}

.only-published {
    display: none
}

.published .only-not-published {
    display: none;
}

.published .only-published {
    display: block;
}

.published span.only-published,
.published button.only-published {
    display: inline;
}

.starred .only-starred {
    display: block;
}

.starred .only-non-starred {
    display: none;
}

.only-starred {
    display: none;
}

#title-actions-container button {
    margin-top: 18px;
    float: right;
}

.CodeMirror {
    font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 144px;
}

#query-result-container {
    overflow-x: scroll;
}

#query-result-success, #query-result-error, #query-progress, #query-result-killed {
    display: none;
}

.no-edit .only-edit {
    display: none;
}

.edit .only-no-edit {
    display: none;
}
