table#query-results-sampled {
    margin-top: 20px;
}

.only-published {
    display: none
}

.published .only-not-published {
    display: none;
}

.published .only-published {
    display: block;
}

.published span.only-published,
.published button.only-published {
    display: inline;
}

.starred .only-starred {
    display: block;
}

.starred .only-non-starred {
    display: none;
}

.only-starred {
    display: none;
}

#title {
    width: 100%;
    border: none;
}

#title-actions-container button {
    margin-top: 18px;
    float: right;
}

#sql-actions-container {
    background-color: #f5f5f5;
    border: 1px #ddd solid;
    padding: 8px;
    margin: 0;
}

#query-status {
    margin-top: 24px;
    padding-bottom: 4px;
    border-bottom: 1px #ccc solid;
}

.CodeMirror {
    font-family: Monaco, Consolas, "Ubuntu Mono", monospace;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 144px;
}

.no-edit .only-edit {
    display: none;
}

.edit .only-no-edit {
    display: none;
}

#query-description {
    border: none;
    width: 100%;
    resize: none;
}
